@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Kaushan+Script&family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 1rem;
}
.desc {
    font-family: 'Raleway', sans-serif;
}
.half-width {
    width: 75%;
    margin: auto;
}
p {
    font-size: 1.125rem;
    margin-bottom: 20px;
}
.top-banner {
    background: url("images/banner.jpg");
}
.bottom-banner {
    background: url("images/banner2.jpg");
    margin-bottom: 100px;
}
.banner-section {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.left-content {
    position: absolute;
    width: 450px;
    top: 50%;
    transform: translateY(-50%);
}
.discount-box {
    background-color: #99E54D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: 210px;
    width: 210px;
    border-radius: 50%;
}
.discount-title,.banner-title {
    font-size: 3.75rem;
    margin-bottom: 20px;
}
.banner-content {
    color: #fff;
}
button {
    padding: 14px 50px;
    border-radius: 25px;
    border: 0;
    font-size: 1rem;
    font-weight: 500;
}
.primary-btn {
    background-color: #F1AE0E;
}
/* card-container-style */
main {
    padding: 70px 0;
    background-color: #1A1A1A;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 100px;
}
.card-container img {
    width: 370px;
    height: 375px;
    border-radius: 25px;
}
.card-box {
    position: relative;
    text-align: center;
}
.card-box p {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-weight: 700;
}
/* two-col-container-style */
.title {
    font-size: 3rem;
    margin-bottom: 20px;
    color:#99E54D;
}
.two-col-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #fff;
    margin-bottom: 100px;
}
.two-col-container img {
    width: 540px;
    height: 521px;
    border-radius: 25px;
}
.subtitle {
    font-weight: 600;
    color: #fff;
}
.desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
}
.col-content {
    margin-bottom: 50px;
    align-self: flex-end;
}
/* menu-style */
.menu-section {
    text-align: center;
    margin-bottom: 100px;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.menu-container img {
    width: 545px;
    height: 480px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.secondary-btn {
    background-color: #99E54D;
}
/* bottom-banner-style */

.bottom-left-content {
    width: 900px;
}
.text-field-container {
    display: flex;
    max-width: 80%;
}
input[type=text] {
    width: 100%;
    padding: 16px 0 16px 16px;
    border-radius: 25px;
    border: 0;
    margin-right: 30px;
    box-sizing: border-box;
}
input[type=submit] {
    padding: 16px 30px;
    border-radius: 25px;
    border: 0;
    background-color:#F1AE0E;
}
.bottom-card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 100px;
}
.bottom-card-box {
    text-align: center;
}
.fa-solid {
    color:black;
    background-color: #99E54D;
    padding: 20px;
    border-radius: 50%;
    font-size: 3rem;
    margin-bottom: 30px;
}
.email {
    color:#F1AE0E;
}
@media screen and (max-width: 576px) {
    .left-content {
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .discount-box {
        margin: 0 auto 20px auto;
    }
    .banner-title {
        font-size: 3rem;
    }
    .card-container,.menu-container {
        grid-template-columns: repeat(1,1fr);
    }
    .card-container img {
        width: 100%;
        height: 100%;
    }
    .two-col-container {
        flex-direction: column;
    }
    .two-col-container img {
        width: 100%;
        height: 100%;
    }
    .menu-container img {
        width: 320px;
        height: 242px;
    }
    .col-content {
        text-align: center;
    }
    .banner-section {
        text-align: center;
    }
    .left-content,.bottom-left-content {
        width: 80%;
    }
    .text-field-container {
        flex-direction: column;
        max-width: 100%;
        gap: 30px;
    }
    .bottom-card-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin-bottom: 100px;
    }
    .bottom-card-box {
        margin-bottom: 30px;
    }
}